@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}
body{
    background-image: url(mypic1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hr{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
}

.nav-1 a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    margin-left: 38px;
    transition: .3s;
}

.nav-1 a:hover,
.nav-1 a.active{
    color: #0b85d6;
}

.Home{
    height: 110vh;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0 10%;
}
.Home-1{
    max-width: 600px;
    color: #0b85d6;
}
.h1-tag{
    font-size: 54px;
    font-weight: bolder;
}
.h3-tag{
    color: #0b85d6;
    font-size: 26px;
    font-weight: bold;
}
.h4-tag{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.logo{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.logo a{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    text-decoration: none;
    font-size: 28px;
    color: black;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 855px){
    body{
        background-image: url(mypic2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .name{
        font-size: 19px;
        font-weight: bolder;
        text-decoration: none;
        color: #000000;
    }
    
    .nav-1 a{
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: #000000;
        margin-left: 38px;
        transition: .3s;
    }
    .nav-1{
        display: flex;
        flex-direction: column;
    }
    .h1-tag{
        font-size: 34px;
        font-weight: bolder;
    }
    .h3-tag{
        color: #0b85d6;
        font-size: 20px;
        font-weight: bold;
    }
    .h4-tag{
        color: black;
        font-size: 15px;
        font-weight: 700;
        margin-top: 10px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1200px){
    .logo a{
        position: relative;
        display: inline-flex;   
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #0b85d6;
        border-radius: 50%;
        text-decoration: none;
        font-size: 28px;
        color: #0b85d6;
        justify-content: center;
        align-items: center;
    }
}